html {
	background-color:#00f539;
	background-image:linear-gradient( 
        270deg,
        rgb(203, 198, 146) 0%,
        rgb(235, 255, 189) 100%);
	-webkit-font-smoothing:antialiased;
}
body {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:19px;
	line-height:1.5em;
	color:#4152ac;
	background-color:rgba(105, 69, 69, 0.72);
	box-shadow:0 0 2px rgba(0,0,0,0.06);
	align-content:center;
}
body {
	background:white
}
section {
	background:black;
	color:white;
	border-radius:1em;
	padding:1em;
	position:absolute;
	top:50%;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%)
}
h1,h2,h3,h4,h5,h6 {
	color:#fff;
	font-weight:600;
	line-height:1.7em;
    width: 500px;
}
a {
	color:#0083e8;
}
b,strong {
	font-weight:600;
}
h1 {
	text-align:center
}
p {
	text-align: center
}