<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Homepage for Joel Van Eenwyk">
<meta name="keywords" content="programmer, jvaneenwyk, van eenwyk, joel van eenwyk, bingo, vfx journal, vfx, houdini, haskell">
<meta name="google-signin-client_id" content="1089412601521-no09p28habvcca5604gc8fjikptitiqc.apps.googleusercontent.com">
<link rel="shortcut icon" href="/favicon.ico">
<title>Joel Van Eenwyk</title>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- Master javascript that loads everything we need -->
<script src="/js/preload.js" type="text/javascript"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/master.css" media="all">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<meta charset="UTF-8">
<title>Super Awesome</title>