<div class="panel hidden-xs visible-sm visible-md visible-lg">
	<footer class="footer panel-footer">
		<p class="text-center text-muted"><a href="#" data-toggle="tooltip" title="<%= created %>" ><%= footer %></a></p>
	</footer>
</div>
