# EditorConfig is awesome: https://EditorConfig.org

# This is top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{bat}]
end_of_line = crlf
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[*.md]
indent_style = space
indent_size = 2

[*.{js,ts,mjs,cjs,yml,toml,json,css,scss}]
indent_style = space
indent_size = 2

[*.sh]
# like -i=4
indent_style = space
indent_size = 4
end_of_line = lf

shell_variant      = posix # like -ln=posix
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr
keep_padding       = true  # like -kp
function_next_line = true  # like -fn

