#
# Ignore list for website
#

.tmp
.env
.env.*
!.env.template


#
# Yarn
#

yarn-error.log
/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Not doing zero-install so remove cache
# !.yarn/cache

#
# Node / npm
#

/node_modules/
/bower_components/

#
# Hugo
#

/resources
/dist

#
# Browserify
#

*.js.tmp-*

#
# LoveIt Theme
#

# Hugo default output directory
public/
/exampleSite/resources/

node_modules/
build/

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Linux
.directory
