<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../_partials/head %>
</head>
<body class="container-fluid">

    <div class='header'>
        <% include ../../_partials/header %>
    </div>

    <div class='row'>
        <div class='col-xs-12'>
            This is a protected page! You are very special.
        </div>
    </div>

    <% include ../../_partials/footer %>

</body>
</html>