<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>
	<div class='row'>
		<div class='col-md-2'>
	    </div>
		    <div class='error'>
		    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Error looking for the page you requested.
		    </div>
		<div class='col-md-2'>
	    </div>
    </div>
    <% include partials/footer %>
</body>

</html>