<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>
    This is not the error you are looking for.
    <% include partials/footer %>
</body>

</html>