<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <div class="container parent">
        <div class="row top">
            <% include partials/header %>
            <div class="row header centered">
                <div class="col-lg-12"><img class="stamp" src="/images/stamp.png" width="87" height="150" alt="Stamp" /></div>
                <div class="col-lg-12 name">
                    <p>Joel Van Eenwyk</p>
                </div>
                <div class="col-lg-12 description">
                    <p>Adventurer, coder, graphics nerd, life enthusiast</p>
                </div>
            </div>
        </div>
        <div class="row header bottom">
            <div class="col-lg-12">
                <a target="_blank" href="https://twitter.com/joelvaneenwyk">
                    <span class="linkbox">
                        <img src="/images/twitter.png" class="logo" alt="Twitter" />
                        <span class="link">@joelvaneenwyk</span>
                    </span>
                </a>
            </div>
            <div class="col-lg-12">
                <a target="_blank" href="https://www.linkedin.com/in/joelvaneenwyk">
                    <span class="linkbox">
                        <img src="/images/linkedin.png" class="logo" alt="LinkedIn" />
                        <span class="link">linkedin/jvaneenwyk</span>
                    </span>
                </a>
            </div>
            <div class="col-lg-12">
                <a target="_blank" href="https://www.facebook.com/jvaneenwyk">
                    <span class="linkbox">
                        <img src="/images/facebook.png" class="logo" alt="Facebook" />
                        <span class="link">facebook/jvaneenwyk</span>
                    </span>
                </a>
            </div>
            <div class="col-lg-12">
                <a target="_blank" href="https://about.me/joel.vaneenwyk">
                    <span class="linkbox">
                        <img src="/images/me.png" class="logo" alt="About.Me" />
                        <span class="link">about.me/joel.vaneenwyk</span>
                    </span>
                </a>
            </div>
            <div class="col-lg-12">
                <a target="_blank" href="https://github.com/joelvaneenwyk">
                    <span class="linkbox">
                        <img src="/images/github.png" class="logo" alt="GitHub" />
                        <span class="link">github/joelvaneenwyk</span>
                    </span>
                </a>
            </div>
            <div class="col-lg-12">
                <a target="_blank" href="http://www.mobygames.com/developer/sheet/view/developerId,231132/">
                    <span class="linkbox">
                        <img src="/images/mobygames.png" class="logo" alt="GitHub" />
                        <span class="link">mobygames</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <% include partials/footer %>
</body>

</html>