<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../_partials/head %>
</head>
<body class="container-fluid">

    <div class='header'>
        <% include ../_partials/header %>
    </div>

	<div class='row'>
		<div class='blog col-md-offset-2 col-md-8'>
<% for(var slug in public.blog._data){ %>
  <h2><a href="/blog/<%= slug %>"><%= public.blog._data[slug].title %></a></h2>
  <%- partial("blog/" + slug) %>
<% }; %>
	    </div>
    </div>

    <div class='footer'>
        <% include ../_partials/footer %>
    </div>

	<script id="dsq-count-scr" src="//joelvaneenwyk.disqus.com/count.js" async></script>

</body>
</html>