$footer-height: 30px;
.custom-button {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.profile {
    background: #3A6F9A;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.navbar-toggle {
    margin-right: 20px;
}

.btn-profile {
    padding: 2px;
    margin-top: 2px;
}

.btn {
    padding: 2px;
}

.btn-logout {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-top: 11px;
}

.navbar-form {
    margin: 0px;
    padding: 0px;
}

.navbar-form-login {
    margin-right: -15px;
}
.login-google:hover {
    background: url(/images/btn_google_signin_light_focus_web.png) no-repeat;
    cursor: pointer;
    width: 191px;
    height: 46px;
    border: none;
}

.login-google {
    background: url(/images/btn_google_signin_light_normal_web.png) no-repeat;
    cursor: pointer;
    width: 191px;
    height: 46px;
    border: none;
}

//
// We are a Desktop First setup (https://css-tricks.com/logic-in-media-queries/) so
// we remove margins for desktop and use bootstrap to provide column buffers. As the
// screen gets smaller we add margin and increase font size.
//
body {
    padding: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $footer-height;
    font-family: sans-serif;
    font-size: 14px;
}

.fonts-loaded body {
    font-family: 'Dosis', sans-serif;
}

.container {
    padding: 0;
    margin: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    padding-left: 50px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand > img {
    width: 25px;
    height: 25px;
}


/*
 * Set hyperlink typeface and remove underlines
 */

a {
    font-style: normal;
    font-weight: 200;
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
}


/*
 * Front page setup
 */

.row.top {
    background-color: #e2ecb8;
}

.name {
    text-align: left;
    font-style: normal;
    font-weight: 800;
    font-size: 180%;
    margin-top: 15px;
}

.description {
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 110%;
    margin-top: -10px;
}

.logo {
    width: 30px;
    height: 30px;
}

.link {
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 80%;
    margin-left: 2px;
}

.bottom-first {
    padding-top: 10px;
}

.linkbox {
    display: block;
    margin: 0 0 3px 0;
}

.linkbox:hover {
    background-color: antiquewhite;
}

.container-fluid {
    padding: 0px;
}

.blog {
    font-style: normal;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;
    @media (max-width: $screen-sm-max) {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 16px;
    }
    h1 {
        font-weight: 500;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: rgb(200, 200, 200);
        padding-left: 10px;
    }
    h2 {
        font-weight: 500;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: rgb(200, 200, 200);
        padding-left: 10px;
    }
    h3 {
        font-weight: 800;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 15px;
    }
    p {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background-color: #f5f5f5;
    p {
        font-size: 13px;
        @media (max-width: $screen-xs-max) {
            font-size: 11px;
        }
    }
}

.panel {
    padding-top: 0px;
    border: 0px;
}

.panel-footer {
    padding: 0px;
    padding-top: 5px;
    border: 0px;
}

.error {
    margin: 50px;
    padding: 10px;
    background-color: rgb(200, 150, 150);
    font-weight: 100;
    font-size: 140%;
}

.spacer {
    height: 50px;
}

.success_message {
    display: none;
}

.failure_message {
    display: none;
}
