<!DOCTYPE html>
<html>

<head>
    <% include ../_partials/head %>
</head>

<body>
    <div class="container-fluid parent">
        <% include ../_partials/header %>
        <div class="row top" id="top-header">
            <div class="col-xs-2 col-sm-4">
                <div>
                    <a href="/data/portfolio/2016_joelvaneenwyk_resume.pdf"><img src="/images/resume.png" class="custom-button" alt="Résumé" /></a>
                </div>
                <div>
                    <a onclick="startLogin()" href="#"> <img src="/images/login.png" class="custom-button" alt="Login" /></a>
                </div>
            </div>

            <div class="col-xs-8 col-sm-4" id="bottom-align">
                <div class="row name">
                    <div class="col-xs-12">
                        <img class="center-block stamp" src="/images/stamp.png" width="87" height="150" alt="Stamp" />
                    </div>
                </div>

                <div class="row name">
                    <p class="col-xs-12">Joel Van Eenwyk</p>
                </div>

                <div class="row description">
                    <p class="col-xs-12">Adventurer, coder, graphics nerd, life enthusiast</p>
                </div>
            </div>
        </div>
        <div class="row header bottom-first">
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                <a target="_blank" href="https://twitter.com/joelvaneenwyk">
                    <span class="linkbox">
                        <img src="/images/twitter.png" class="logo" alt="Twitter" />
                        <span class="link">@joelvaneenwyk</span>
                    </span>
                </a>
            </div>
        </div>
        <div class="row header bottom">
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                <a target="_blank" href="https://www.linkedin.com/in/joelvaneenwyk">
                    <span class="linkbox">
                        <img src="/images/linkedin.png" class="logo" alt="LinkedIn" />
                        <span class="link">linkedin/jvaneenwyk</span>
                    </span>
                </a>
            </div>
        </div>
        <div class="row header bottom">
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                <a target="_blank" href="https://www.facebook.com/jvaneenwyk">
                    <span class="linkbox">
                        <img src="/images/facebook.png" class="logo" alt="Facebook" />
                        <span class="link">facebook/jvaneenwyk</span>
                    </span>
                </a>
            </div>
        </div>
        <div class="row header bottom">
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                <a target="_blank" href="https://about.me/joel.vaneenwyk">
                    <span class="linkbox">
                        <img src="/images/me.png" class="logo" alt="About.Me" />
                        <span class="link">about.me/joel.vaneenwyk</span>
                    </span>
                </a>
            </div>
        </div>
        <div class="row header bottom">
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                <a target="_blank" href="https://github.com/joelvaneenwyk">
                    <span class="linkbox">
                        <img src="/images/github.png" class="logo" alt="GitHub" />
                        <span class="link">github/joelvaneenwyk</span>
                    </span>
                </a>
            </div>
        </div>
        <div class="row header bottom">
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                <a target="_blank" href="http://www.mobygames.com/developer/sheet/view/developerId,231132/">
                    <span class="linkbox">
                        <img src="/images/mobygames.png" class="logo" alt="GitHub" />
                        <span class="link">mobygames</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <% include ../_partials/footer %>
</body>

</html>