html {
    height: 100%;
    background: radial-gradient(#de1515, #690f03);
}

div {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img {
    -webkit-filter: drop-shadow(1px 1px 2px #3d0000);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="2" /><feOffset dx="2" dy="2" result="offsetblur" /><feFlood flood-color="rgba(61,0,0,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
    -webkit-filter: drop-shadow(1px 1px 2px #3d0000);
    filter: drop-shadow(1px 1px 2px #3d0000);
    height: 250px;
    width: 250px
}
