@media (min-width: @screen-lg-min) {
    #name {
        font-size: 3.5em;
    }
}

@media screen and (orientation:portrait) {
    /* ... */
}

@media screen and (orientation:landscape) {
    /* ... */
}

.google-login {
  bottom: 15px;
  left: 15px;
  position: relative;
  top: 15px;
}

/*
 * Basic settings to remove all padding and margins
 */

body {
    padding: 0;
    margin: 0;
}

.container {
    padding: 0;
    margin: 0;
}

.row {
    padding: 0;
    margin: 0;
}


/*
 * Set hyperlink typeface and remove underlines 
 */

a {
    font-family: "Dosis";
    font-style: normal;
    font-weight: 200;
    font-size: 120%;
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
}


/*
 * Front page setup
 */

.row.top {
    background-color: #e2ecb8;
    position: relative;
}

.stamp {
    margin: 0 auto;
    display: block;
}

.name {
    text-align: left;
    font-family: "Dosis";
    font-style: normal;
    font-weight: 800;
    font-size: 180%;
    margin-top: 15px;
}

.description {
    text-align: left;
    font-family: "Dosis";
    font-style: normal;
    font-weight: 600;
    font-size: 110%;
    margin-top: -10px;
}

.row.header.centered {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.row.header.bottom {
    margin: 10px auto 0 auto;
}

img.logo {
    width: 30px;
    height: 30px;
    display: inline;
}

.link {
    text-align: left;
    font-family: "Dosis";
    font-style: normal;
    font-weight: 600;
    font-size: 80%;
    margin-left: 2px;
}

.linkbox {
    display: block;
    margin: 0px 0px 3px 0px;
}

.linkbox:hover {
    background-color: antiquewhite;
}

.blog
{
    text-align: left;
    font-family: "Dosis";
    font-style: normal;
    font-weight: 100;
    font-size: 180%;
    margin-top: 15px;
}

.blog h1
{
    font-weight: 500;
    background-color: rgb(200, 200, 200)
}

.blog p
{
    font-size: 90%;
}

.blog a
{
    font-size: 90%;
}

.footer 
{
    position:fixed;bottom:0;

    width:100%;
    display:block;
}

.error
{
    margin: 50px;
    padding: 10px;
    background-color: rgb(200, 150, 150);
    font-weight: 100;
    font-size: 140%;
}

.spacer
{
    height: 50px;
}
