<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../_partials/head %>
</head>
<body>

    <% include ../../_partials/header %>

    <div class="container-fluid">
        <div class='row'>
            <div class='blog col-sm-12'>
                <% for(var slug in public.public.blog._data){ %>
                  <h2 class="text-center"><a href="/blog/<%= slug %>"><%= public.public.blog._data[slug].title %></a></h2>
                  <%- partial("blog/" + slug) %>
                <% }; %>
            </div>
        </div>
    </div>

    <% include ../../_partials/footer %>

</body>
</html>