h1
{
	font-size: 300%;
	color: #F5A623;
	font-family: 'Open Sans Condensed', sans-serif;
}

.tooltip
{
	font-size: 100%;
	color: #F5A623;
	font-family: 'Open Sans', sans-serif;
}

.container
{
	position: relative;
	width: 100%;
	height: 500px;
}
