<!DOCTYPE html>
<html>

<head>
    <% include _partials/head %>
</head>

<body>
    <% include _partials/header %>
	<div class='row'>
		<div class='col-md-2'>
	    </div>
		    <div class='error'>
		    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Couldn't find the page you were looking for.
		    </div>
		<div class='col-md-2'>
	    </div>
    </div>
    <% include _partials/footer %>
</body>

</html>