<!DOCTYPE html>
<html>

<head>
    <% include _partials/head %>
</head>

<body>
    <% include _partials/header %>
    <div class='container-fluid'>
		<div class='row'>
		    <div class='col-xs-offset-2 col-xs-8'>
			    <div class='error'>
			    	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			    	Error looking for the page you requested.
			    </div>
			</div>
	    </div>
    </div>
    <% include _partials/footer %>
</body>

</html>