@media (min-width: @screen-lg-min) 
{
    #name
    {
        font-size: 3.5em;
    }
}

@media screen and (orientation:portrait)
{
    /* ... */
}

@media screen and (orientation:landscape)
{
    /* ... */
}

body
{
	 padding: 0;
	 margin: 0;
}

.logo
{
    margin: 0 auto;
    display: block;
}

.name
{
	text-align: left;
	font-family: "Dosis";
    font-style: normal;
	font-weight: 800;
	font-size: 180%;
}

.description
{
	text-align: left;
	font-family: "Dosis";
    font-style: normal;
	font-weight: 400;
	font-size: 110%;
}

.row.header
{  
    width: 400px;
}

.row.header.top
{
    position: absolute;
    bottom: 0;   
    margin-left: -200px;
    left: 50%; 
}

.row.header.bottom
{
    margin: 0 auto;
}

#top
{
    background-color: #e2ecb8;
    position: relative;
}


.linkbox
{
    margin: 0 auto;
    display: block;
}

span.label
{
    color: black;
}

a
{
	font-family: "Dosis";
    font-style: normal;
	font-weight: 200;
	font-size: 120%;
    text-decoration: none;
}

a:link 
{
    text-decoration: none;
}

.linkbox
{
    display: block;
    margin: 0px 0px 3px 0px;
}

.linkbox:hover
{
    display: block;
    color: black;
    background-color: antiquewhite;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}