@media (min-width: @screen-lg-min) 
{
    #name
    {
        font-size: 3.5em;
    }
}

body
{
	 padding: 0px 0px;
	 padding-top: 0px;
	 margin: 0;
}

img.icon
{
    margin: 0 auto;
    display: block;
}

#name
{
	text-align: left;
	font-family: "Dosis";
    font-style: normal;
	font-weight: 800;
	font-size: 180%;
    margin-top: 10px;
    margin-bottom: -10px;
}

#description
{
	text-align: left;
	font-family: "Dosis";
    font-style: normal;
	font-weight: 400;
	font-size: 110%;
}

#header
{
    position: absolute;
    bottom: 0;    
    width: 400px;
    margin-left: -200px;
    left: 50%;
}

#links
{
    width: 400px;
    margin: 0 auto;
}

#top
{
    background-color: #76C1BF;
    position: relative;
}


.linkbox
{
    margin: 0 auto;
    display: block;
}

span.label
{
    color: black;
}

a
{
	font-family: "Dosis";
    font-style: normal;
	font-weight: 200;
	font-size: 120%;
}

a:link 
{
    text-decoration: none;
}

a:visited 
{
    text-decoration: none;
}

a:hover 
{
	font-weight: 800; 
    text-decoration: none
}

a:active
{    
    text-decoration: none;
	font-weight: 800; 
}

.linkbox
{
    display: block;
    margin: 0px 0px 3px 0px;
}

.linkbox:hover
{
    display: block;
    color: black;
    margin: 0px 0px 2px 0px;
    border-style: solid;
    border-width: 0px 10px 1px 0px;
}