@media (min-width: @screen-lg-min) 
{
    #name
    {
        font-size: 3.5em;
    }
}

body
{
	 padding: 0px 0px;
	 padding-top: 0px;
	 margin: 0;
}

span.label
{
    color: black;
}

img.icon
{
    margin: 0 auto;
    display: block;
}

#name
{
	text-align: center;
	font-family: "Dosis";
    font-style: normal;
	font-weight: 500;
	font-size: 150%;
}

div.description
{
	text-align: center;
	font-family: "Dosis";
    font-style: normal;
	font-weight: 500;
	font-size: 1.5em;
}

.top-body
{
    margin: 0 auto;
}

/* Align with the bottom */
.top
{
    background-color: darkgrey;
}

#external
{
    margin: 0 auto;
    display: block;
}